# Compiled source #
###################
*.ini
*.env

# Test stuff #
##############
.*/
__*/
venv/
env/
*.docx
test*
roba*

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
