cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
google-api-core==2.11.1
google-api-python-client==2.48.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
Google-Images-Search==1.4.6
googleapis-common-protos==1.60.0
httplib2==0.22.0
idna==3.4
packaging==23.1
Pillow==10.0.0
protobuf==4.24.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyfiglet==0.8.post1
pygame==2.5.1
pyparsing==3.1.1
pyperclip==1.8.2
python-resize-image==1.1.20
requests==2.31.0
rsa==4.9
six==1.16.0
termcolor==1.1.0
toml==0.10.2
uritemplate==4.1.1
urllib3==1.26.16
windows-curses==2.3.1
